<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>Welcome to My l337 Notes</h1>
<ul>
    {% for n in notes %}
    <li><a href=notes/"{{ n.key.id }}">{{ n.title }}</a></li>
    {% endfor %}
</ul>

<button type="button" onclick="myFunction()">Make new note</button>

<div id="newDiv">
  <form method="POST" action="notes/new">
      <input id="nosee" name='new2' value='1'>
      Title:<input type="text" name="Title" value=""><br>
      <input type="submit" value="Create new Note">
  </form>
</div>
<script type="text/javascript">document.getElementById("newDiv").style.display = 'none';</script>



<script>
function myFunction() {
    document.getElementById("newDiv").style.display = "inline";
    document.getElementById("nosee").style.display = "none";
}
</script>

</body>
</html>